{% extends 'base.html' %}

{% block title %}
Assigner
{% endblock title %}

{% block assign %}
  <a class="nav-item nav-link active" href="{% url 'ahome' %}">Assign</a>
{% endblock assign %}

{% block home %}
  <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
{% endblock home %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Assgin Invigilators</h1>
    </div>
  </section>

  <div class="container text-center">
    <h2>Would you like to assign invigilators manually of automatically?</h2>
    <hr>
    <a href="{% url 'manual' %}" style="text-decoration: none; color: white;"><button style="font-size: large;" class="btn btn-primary col-2">Manual</button></a>
    <a href="" style="text-decoration: none; color: white;"><button style="margin-left: auto; font-size: large;" type="submit" class="btn btn-primary col-2">Automatic</a>
  </div>

{% endblock content %}