{% extends 'base.html' %}

{% block title %}
Assigner
{% endblock title %}

{% block assign %}
  <a class="nav-item nav-link active" href="{% url 'ahome' %}">Assign</a>
{% endblock assign %}

{% block home %}
  <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
{% endblock home %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Assgin Invigilators</h1>
    </div>
  </section>

  <div class="container text-center">
    <h2>Would you like to assign invigilators manually of automatically?</h2>
    <hr>
    <a href="{% url 'manual' %}"><button style="padding: 0 50px; margin-right: 20px;" class="btn btn-primary btn-lg">MANUAL</button></a>
    <a href=""><button style="padding: 0 50px; margin-left: 20px;" class="btn btn-primary btn-lg">AUTOMATIC</button></a>
  </div>

{% endblock content %}